.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupCont {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
}

.button {
  color: #324A5E;
  background-color: #FFD15D;
  border: 0px;
  font-size: 22px;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
}

.button:hover {
  cursor: pointer;
  background-color: #F9B54C;
}